/* color palettes */

:root {
--HeaderColor1: #ae78ff;
--HeaderColor2: #e1a3ff;
--TextColor1: #f6f4fb;
--TextColor2: #ded5ff;
--OutlineColor: #1e2264;
--BG1: #fe87b5;
--BG2: #ffd2d05b;
--bgGradient: linear-gradient(0deg, var(--HeaderColor1) 50%, var(--HeaderColor2) 50%);
--bgGradient2: linear-gradient(45deg, var(--HeaderColor1) 50%, var(--HeaderColor2) 50%);
}


/* CSS resets */

* {
    margin: 0px;
    padding: 0px;
}

a {
    paint-order: stroke fill;
    color: var(--OutlineColor);
    -webkit-text-stroke: 0.3rem var(--TextColor2);
}

html {
    font-size: 100%;
}

/* general CSS */
body {
    background-color: var(--BG1);
    color: var(--TextColor1);
    font-family: "Silkscreen", sans-serif;
    font-size: 1.5rem;
    line-height: 1.75rem;
    paint-order: stroke fill;
    -webkit-text-stroke: 0.5rem var(--OutlineColor);
}

nav{
    position:fixed;
    right:2rem;
    top: 1rem;
}

nav a {
    color: var(--TextColor1);
    -webkit-text-stroke: 0.3rem var(--OutlineColor);
    text-decoration: none;
    display:inline-block;
    margin: 0 1rem;
}

nav a:hover{
    color:var(--TextColor2)
}
header {
    padding: 3rem;
    margin-bottom: 3rem;
    border-bottom: var(--OutlineColor) 0.25rem solid;
    background: #AE78FF;
    background: var(--bgGradient);
}

header h1 {
font-family: "Sixtyfour", sans-serif;
    font-size: 2.25rem;
    color: var(--TextColor1);
    -webkit-background-clip: text;
    background-clip: text;
    display: flex;
    align-items: center;
    -webkit-text-stroke: 0.75rem var(--OutlineColor);
    -webkit-text-stroke-color: var(--OutlineColor);
}

header h1 img {
    max-width: 6.25%;
    padding-right: 1.2rem;
}

main p {
    text-align: center;
}

.about-section,
.portfolio-section,
.contact-section {
    margin-bottom: 5rem;
    background-color: var(--BG2);
}

.about-content img {
    max-width: 6.25%;
    padding-right: 1.2rem;
}

.about-content,
.portfolio-content,
.contact-content {
    margin: 0 auto;
    max-width: 70rem;
    padding: 2rem 0;
}
.about-content h2,
.portfolio-content h2,
.contact-content h2{
font-family: "Sixtyfour", sans-serif;
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.portfolio-item {
    background: var(--bgGradient2);
    border: var(--OutlineColor) 0.25rem solid;
    padding: .98rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
}

.portfolio-item img {
    max-width: 49%;
    padding-bottom: 4rem;
    filter:drop-shadow(-1.125rem 1rem 0.75rem #00000080)
}

.portfolio-item h3 {
    margin: 1.5rem 0;
    padding: 1rem;
}

.contact-content p{
    margin: 1rem;
    text-align: left;
}
footer{
    text-align: right;
    padding: 0 1rem;
}